%% -*- mode: erlang; fill-column: 78; -*-

{sub_dirs, ["src"]}.
{erl_opts, [debug_info, warnings_as_errors]}.
{cover_enabled, false}.
{clean_files, [".eunit", "ebin/*.app", "ebin/*.beam", "logs"]}.
{deps, [
        {erlsom, "", {git, "https://github.com/willemdj/erlsom.git",
                      {tag, "HEAD"}}},
        {ibrowse, "", {git, "git://github.com/cmullaparthi/ibrowse.git",
                       {tag, "HEAD"}}}
       ]
}.
